{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Students Accounting Service - {% block meta_title %}{% endblock meta_title %}</title>
<meta name="description" content="System of students accounting in ed. institution">

<!--CSS section-->
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
    {% block exta_css %}{% endblock exta_css %}

<style type="text/css"></style>
</head>
<body>
<!--Container-->
<div class="container">

    <!--Header-->
    <div class="row mt-3" id="header">
        <!--Logo-->
        <div class="col-sm-8"><h1>Logo</h1></div>
        <!--Group Selector-->
        <div class="col-sm-4 d-flex" id="group-selector">
            <label for="group"><strong>Group:</strong></label>
            <select class="custom-select" name="group" id="group">
                <option value="">All Students</option>
                <option value="">MtM - 21, Viktor Kapusta (№ 254)</option>
                <option value="">MtM - 22, Vitaliy Vitalya (№ 410)</option>
            </select>
        </div>
    </div>
    <!--End Header-->

    <!--SubHeader-->
    <div class="row" id="sub-header">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/journal' in request.path %}active{% endif %}" href="/journal">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/groups' in request.path %}active{% endif %}" href="{% url 'groups' %}">Groups</a>
                </li>
            </ul>
        </div>
    </div>
    <!--End SubHeader-->

    <!--Main Page Content-->
    <div class="row" id="content-columns">
        <div class="col-sm-12" id="content-column">

            <!--Status Message-->
            {% comment "Not used alert so far" %}
                <div class="alert alert-warning" role="alert">Changes canceled</div>
            {% endcomment %}

            <h2 class="my-3">{% block title %}{% endblock title %}</h2>

            <!--Students Listing-->
            <div>
                {% block content %}{% endblock content %}
            </div>
        </div>
        <!--End Main Page Content-->

    </div>

    <!--Footer-->
    <div class="row fixed-bottom" id="footer">
        <div class="col-sm-12">&copy; 2021 Students Accounting Service</div>
    </div>
    <!--End Footer-->

</div>
<!--End Container-->


<!--JS section-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
