{% extends "students/base.html" %}
{% load static %}

{% block meta_title %}Groups{% endblock meta_title%}
{% block title %}Groups Base{% endblock title %}
{% block btn_title %}Add group{% endblock btn_title %}

{% block content%}


<!--Add Group Button-->
<a class="btn btn-primary" href="{% url 'groups_add' %}" role="button">Add Group</a>

<!--Groups Listing-->
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th><a href="#">№</a></th>
        <th><a href="#">Naming</a></th>
        <th><a href="#">Head</a></th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for group in groups %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a title="Edit" href="#">{{ group.naming }}</a></td>
        <td><a title="Edit" href="#">{{ group.head }}</a></td>
        <td>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Action
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Attendance</a>
                    <a class="dropdown-item" href="#">Delete</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!--End Main Page Content-->
{% endblock content%}
